body {
    background-color: #f8f9fa;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #06e73a;
}

.rating {
    color: #ffc107;
}

.btn-primary-2 {
    background-color: #007f6d;    /* Màu chính */
    border: none;                /* Không viền */
    color: rgb(255, 255, 255);                /* Chữ trắng */
    padding: 10px 20px;          /* Khoảng cách bên trong */
    border-radius: 5px;          /* Bo góc */
    font-weight: bold;           /* Chữ đậm */
    cursor: pointer;             /* Biến thành bàn tay khi hover */
    transition: all 0.3s ease;   /* Hiệu ứng mượt mà */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.filter-chip-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
}

/* Hoặc nếu muốn ảnh tròn */
.filter-chip-image.round {
  border-radius: 50%;
}
.product-description {
  color: #666;
  font-size: 14px;

  
  /* Giới hạn hiển thị 2 dòng */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  /* Hoặc giới hạn theo chiều cao nếu cần */
    max-height: 2em; /* ~2 dòng */
    line-height: 1em;
    width: 100px;
    text-align: left;

}