.sidebar-navbar {
  width: 70px;
  height:200vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;  /* căn giữa ngang các phần tử */
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
  z-index: 10;
}

.sidebar-navbar .navbar-brand {
  padding: 1rem;          /* padding tương tự p-3 */
  margin-top: 20px;       /* khoảng cách trên giữa các menu */
  width: 100%;            /* chiếm full chiều ngang sidebar */
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;    /* căn giữa dọc */
  text-align: center;
}

/* Khoảng cách trên lớn hơn cho menu đầu tiên */
.sidebar-navbar .navbar-brand:first-child {
  margin-top: 50px;
}
.icon-large {
  font-size: 40px;
  color: #333; /* ví dụ chỉnh màu luôn */
}


/* Khi màn hình nhỏ hơn 768px (tablet trở xuống) */
@media (max-width: 768px) {
  .icon-large {
    font-size: 6vw;
  }
}

/* Khi màn hình rất nhỏ (mobile) */
@media (max-width: 480px) {
  .icon-large {
    font-size: 8vw;
  }
}